@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent: #f2a900;
  --muted: #999;
  --radius: 0.75rem;
  --font-sans: var(--font-poppins, system-ui, sans-serif);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --muted: #666;
  }
}

body {
  background-color: var(--background);
  background-image: radial-gradient(
    circle at top left,
    #401f58 0%,
    #2f183f 40%,
    #161515 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
strong{
  color: var(--accent);
}

.noise::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  background-size: 200px 200px;
  opacity: 0.15;
  mix-blend-mode: overlay;
  pointer-events: none;
}
